/********************************
COLORS
*********************************/
$primary-white: #fbf8ef;
$primary-dark: #181c14;
$secondary-dark: #181c14;
$softer-dark: #33372c;
$primary-blue: #78b3ce;
$primary-orange: #ff885b;

/********************************
Typography
*********************************/
$font-primary: "Italiana";
$font-secondary: "Open Sans";
$font-lg: 3rem;
$font-md: 1.5rem;
$font-reg: 1.2rem;
$font-base: 1rem;

/********************************
Spacing & Widths
*********************************/
$full-width: 100%;
$spacing-section: 5rem;
$spacing-xl: 4rem;
$spacing-lg: 3rem;
$spacing-md: 2rem;
$spacing-reg: 1rem;
$spacing-pad: 6px;
$spacing-ltr: 1px;

/********************************
Radius
*********************************/
$radius-xs: 3px;
$radius-sm: 6px;

/********************************
Shadow
*********************************/
$custom-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;

/********************************
Mixins
*********************************/
@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin grid-two-column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-reg;
  align-items: center;
}

@mixin grid-three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@mixin custom-border {
  border-top-left-radius: 40%;
  border-bottom-right-radius: 10%;
}

@mixin custom-orange-btn {
  background: $primary-orange;
  color: $primary-white;
  border: 0;
  font-size: $font-md;
  letter-spacing: $spacing-ltr;
  font-weight: 600;
  width: 10rem;
  padding-block: $spacing-pad;
  border-radius: $radius-xs;

  &:hover {
    animation: jelly 0.5s;
  }

  @keyframes jelly {
    0%,
    100% {
      transform: scale(1, 1);
    }
    25% {
      transform: scale(0.9, 1.1);
    }
    50% {
      transform: scale(1.1, 0.9);
    }
    75% {
      transform: scale(0.95, 1.05);
    }
  }
}

@mixin highlight-style($color) {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $color;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }

  &:hover::before {
    transform-origin: bottom left;
    transform: scaleX(1);
  }
}

@mixin img-settings {
  height: 100%;
  width: 100%;
}
